astro_ghost @ git+https://github.com/manning-ncsa/astro_ghost@dev
celery
Django
django-silk
django-crispy-forms
django-tables2
django-bootstrap4
crispy-bootstrap4
django-celery-beat
django-revproxy
djangorestframework
django-cron
django-filter
mysqlclient
dustmaps
astro-sedpy
extinction
astro-prospector @ git+https://github.com/bd-j/prospector.git@2fa085d
bokeh==2.4.0
dynesty
torch
sbi
astro-datalab
scikit-learn
flower
gunicorn
scikit-image
fsps
coverage
