astro_ghost @ git+https://github.com/manning-ncsa/astro_ghost@15368465a083bb76e153b6d74397339d94db45ea
celery==5.4.0
Django==5.0.4
django-silk==5.1.0
django-crispy-forms==2.1
django-tables2==2.7.0
django-bootstrap4==24.3
crispy-bootstrap4==2024.1
django-celery-beat==2.6.0
django-revproxy==0.12.0
djangorestframework==3.15.1
django-cron==0.6.0
django-filter==24.2
mysqlclient==2.2.4
dustmaps==1.0.13
astro-sedpy==0.3.2
extinction==0.4.6
astro-prospector @ git+https://github.com/bd-j/prospector.git@2fa085df5c5f5a157b4409f836e39779f157ade6
bokeh==2.4.0
dynesty==2.1.3
torch==2.2.2
sbi==0.22.0
astro-datalab==2.22.1
scikit-learn==1.2.2
flower==2.0.1
gunicorn==22.0.0
scikit-image==0.23.1
fsps==0.4.6
