{% extends 'host/base.html' %}

{% block title %} Analytics {% endblock %}
{% block script %} {{ bokeh_processing_trends_script | safe }} {% endblock %}
{% block body %}

<div>&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
                {% include "host/analytics_information_card.html" %}
        </div>

        <div class="col-lg-7">
            {% include "host/analytics_processing_trend_card.html" %}
        </div>
    </div>
</div>

{% endblock %}
