{% extends "host/card_template.html" %}

{% load crispy_forms_tags %}

<!-- title -->
{% block title %} <h4> Imaging data </h4>{% endblock %}

<!-- body -->
{% block body %}
{{ bokeh_cutout_div | safe }}
<form class="form" , method="POST">
    {% csrf_token %}
    <div class="input-group mb-10">
        {{ form.filters }}
        <div class="input-group-append">
            <button type="submit" ,class="btn btn-outline-success" ,type="button">Get Cutout</button>
        </div>
    </div>
</form>
{% endblock %}
