{% extends 'host/base.html' %}

{% block title %} Home {% endblock %}
{% block script %} {{ bokeh_cutout_script | safe }} {% endblock %}
{% block body %}

{% load crispy_forms_tags %}


<div class="p-5 text-left bg-light">
  <h1 class="mb-3">Welcome to blast!</h1>
  <h6 class="mb-3">
    A Django web app for the automatic real-time characterization of transient
    host galaxies
  </h6>
  <a href="transients/" role="button" class="btn btn-success">
    Search the blast database <i class="bi bi-search"></i>
  </a>
  <a
    href="https://blast.readthedocs.io/en/latest/index.html"
    role="button"
    class="btn btn-primary"
    >Read the docs <i class="bi bi-book-half"></i><i class="bi bi-book-half"></i>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <p>
        The host galaxies of astrophysical transients play a key role in our
        understanding of their progenitor systems and the use of Type Ia
        supernovae as standardizable candles for cosmology. However, fully
        characterizing host galaxy environments requires a high-statistics,
        unbiased, multi-wavelength dataset, preferably with 1-2&nbsp;kpc resolution.
        Current analyses are limited by sample sizes of anywhere from ~10-200&nbsp;SNe, 
        predominantly optical host observations, and observational biases
        such as selecting from surveys that search for SNe within a pre-selected
        a set of galaxies.
      </p>

      <p>
        <b></b>Blast is a public web application built to provide information in real-time for every
        new transient reported to the <a href="https://www.iau.org/">International Astronomical Union (IAU)</a>:
        <ul>
          <li>determine the transient's host galaxy,</li>
          <li>identify the available archival data,</li>
          <li>measure the resulting host galaxy star formation rates, masses, and stellar ages.</li>
        </ul>
      </p>
    </div>

    <div class="col-lg-7">
      {% include "host/analytics_information_card.html" %}
    </div>
  </div>
</div>

{% endblock %}
