 <div class="card">
     <h5 class="card-header">Information</h5>
     <div class="card-body">
         <h5>Transient</h5>
         Name: <a class="link" href="https://www.wis-tns.org/object/{{transient.name}}/">{{transient.tns_prefix}}{{transient.name}}</a><br>
         Right ascension: {{transient.ra}}<br>
         Declination: {{transient.dec}}<br>
         Discovery Date: {{transient.public_timestamp}}<br>
         <br>

         <h5>Host</h5>
         Name: {{transient.host.name}}<br>
         Right ascension: {{transient.host.ra}}<br>
         Declination: {{transient.host.dec}}<br>
         Redshift: {{transient.host.redshift}}<br>
     </div>
 </div>
<div>&nbsp;</div>
