 <div class="card">
     <h5 class="card-header">TNS Information</h5>
     <div class="card-body">
         <h5 class="card-title">{{transient.name}}</h5>
         <p class="card-text">Prefix: {{transient.tns_prefix}}</p>
         <p class="card-text">Right ascension: {{transient.ra}}</p>
         <p class="card-text">Declination: {{transient.dec}}</p>
         <p class="card-text">Discovery Date: {{transient.public_timestamp}}</p>
         <a class="link" href="https://www.wis-tns.org/object/{{transient.name}}/">TNS link</a>
     </div>
 </div>
<div>&nbsp;</div>
