{% extends "host/card_template.html" %}

<!-- title -->
{% block title %}

<h4>Spectral Energy Distribution</h4>

<ul class="nav nav-tabs card-header-tabs" id="myTab-sed" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="global-sed-tab" data-toggle="tab" data-target="#global-sed" type="button" role="tab" aria-controls="global-sed" aria-selected="false">Global</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="local-sed-tab" data-toggle="tab" data-target="#local-sed" type="button" role="tab" aria-controls="local-sed" aria-selected="true">Local</button>
    </li>
</ul>

{% endblock %}

<!-- body -->
{% block body %}
<div class="tab-content" id="myTabContent-sed">
    <div class="tab-pane" id="local-sed" role="tabpanel" aria-labelledby="local-sed-tab">
        <div>&nbsp;</div>
        <div class="">
	  <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_modelfit' transient.name 'local' %}','_self')">
            <span>Download Best-Fit Model</span>
            </button>
            {{ bokeh_sed_local_div | safe }}
        </div>
    </div>
    <div class="tab-pane active" id="global-sed" role="tabpanel" aria-labelledby="global-sed-tab">
       	<div>&nbsp;</div>
        {% if contam_warning %}
          <b style="color:red">Warning:</b> possible contaminating objects in the global aperture<br>
	{% endif %}
          <div class="">
	    <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_modelfit' transient.name 'global' %}','_self')">
            <span>Download Best-Fit Model</span>
            </button>
          <div>&nbsp;</div>
            {{ bokeh_sed_global_div | safe }}
        </div>
    </div>
</div>
{% endblock %}
