{% extends "host/card_template.html"%}
{% load latexify %}

<!-- title -->
{% block title %}

<h4>Host SED inference</h4>
<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="global-params-tab" data-toggle="tab" data-target="#global-params" type="button" role="tab" aria-controls="global-params" aria-selected="false">Global</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="local-params-tab" data-toggle="tab" data-target="#local-params" type="button" role="tab" aria-controls="local-params" aria-selected="true">Local</button>
    </li>
</ul>

{% endblock %}

<!-- body -->
{% block body %}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane" id="local-params" role="tabpanel" aria-labelledby="local-params-tab">
        <div class="">
            <br>
            <h4>Local parameter details</h4>
	    <h6><a href="https://blast.readthedocs.io/en/latest/usage/sed_params.html">Documentation</a></h6>
	    {% if local_sed_results %}
	    <div>
	    <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_chains' transient.name 'local' %}','_self')">
              <span>Download Chains</span>
            </button>
	    <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_percentiles' transient.name 'local' %}','_self')">
              <span>Download Percentiles</span>
            </button>
	    </div>

            <br>

	    {% with table_type="normal Metallicity Dust AGN" %}
	    {% for ttype in table_type.split %}
	    {% if ttype != 'normal' %}
	        <br>
	        <h5>{{ttype}} parameters</h5>
	    {% endif %}

            <table class="table-condensed table-striped">
            <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col" align="right">Lower (16%)  </th>
                <th scope="col" align="right">Median (50%)  </th>
                <th scope="col" align="right">Upper (84%)  </th>
            </tr>
            </thead>
            <tbody>
              {% for item in local_sed_results %}
	      {% if item.2 and item.4 == ttype %}
            <tr>
                <td>{% latexify item.0 math_inline=True %}</td>
                <td align="right">{{item.1|floatformat:3}}</td>
                <td align="right">{{item.2|floatformat:3}}</td>
                <td align="right">{{item.3|floatformat:3}}</td>
            </tr>
	    {% endif %}
            {% endfor %}
            </tbody>
            </table>
	    {% endfor %}
	    {% endwith %}

	    {% if local_sfh_results %}
	        <br>
	        <h5>Binned star formation history</h5>

            <table class="table-condensed table-striped">
            <thead>
            <tr>
                <th scope="col">Lookback time  </th>
                <th scope="col" align="right">Lower (16%)  </th>
                <th scope="col" align="right">Median (50%)  </th>
                <th scope="col" align="right">Upper (84%)  </th>
            </tr>
            </thead>
            <tbody>
              {% for item in local_sfh_results %}
	      {% if item.2  %}
            <tr>
                <td>{{item.3|floatformat:2}}-{{item.4|floatformat:2}} Gyr</td>
                <td align="right">{{item.0|floatformat:3}}</td>
                <td align="right">{{item.1|floatformat:3}}</td>
                <td align="right">{{item.2|floatformat:3}}</td>
            </tr>
	    {% endif %}
            {% endfor %}
            </tbody>
            </table>
	    {% endif %}
	{% endif %}
        </div>
    </div>
    <div class="tab-pane active" id="global-params" role="tabpanel" aria-labelledby="global-params-tab">

        <div class="">
            <br>
            <h4>Global parameter details</h4>
	    <h6><a href="https://blast.readthedocs.io/en/latest/usage/sed_params.html">Documentation</a></h6>
	    {% if global_sed_results %}
	    <div>
	    <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_chains' transient.name 'global' %}','_self')">
              <span>Download Chains</span>
            </button>
	    <button style="margin-bottom:5px;" type="button" class="report" onclick="window.open('{% url 'download_percentiles' transient.name 'global' %}','_self')">
              <span>Download Percentiles</span>
            </button>

	    </div>

            <br>

	    {% with table_type="normal Metallicity Dust AGN" %}
	    {% for ttype in table_type.split %}
	    {% if ttype != 'normal' %}
	        <br>
	        <h5>{{ttype}} parameters</h5>
	    {% endif %}
            <table class="table-condensed table-striped">
            <thead>
            <tr>
                <th scope="col">Parameter</th>
                <th scope="col" align="right">Lower (16%)  </th>
                <th scope="col" align="right">Median (50%)  </th>
                <th scope="col" align="right">Upper (84%)  </th>
            </tr>
            </thead>
            <tbody>
              {% for item in global_sed_results %}
	      {% if item.2 and item.4 == ttype %}
            <tr>
                <td>{% latexify item.0 math_inline=True %}</td>
                <td align="right">{{item.1|floatformat:3}}</td>
                <td align="right">{{item.2|floatformat:3}}</td>
                <td align="right">{{item.3|floatformat:3}}</td>
            </tr>
	    {% endif %}
            {% endfor %}
            </tbody>
            </table>
	    {% endfor %}
	    {% endwith %}

	    {% if global_sfh_results %}
	        <br>
	        <h5>Binned star formation history</h5>

            <table class="table-condensed table-striped">
            <thead>
            <tr>
                <th scope="col">Lookback time  </th>
                <th scope="col" align="right">Lower (16%)  </th>
                <th scope="col" align="right">Median (50%)  </th>
                <th scope="col" align="right">Upper (84%)  </th>
            </tr>
            </thead>
            <tbody>
              {% for item in global_sfh_results %}
	      {% if item.2  %}
            <tr>
                <td>{{item.3|floatformat:2}}-{{item.4|floatformat:2}} Gyr</td>
                <td align="right">{{item.0|floatformat:3}}</td>
                <td align="right">{{item.1|floatformat:3}}</td>
                <td align="right">{{item.2|floatformat:3}}</td>
            </tr>
	    {% endif %}
            {% endfor %}
            </tbody>
            </table>
	    {% endif %}	    
	{% endif %}
        </div>
    </div>
</div>
{% include "latexify/scripts.html" %}
{% endblock %}
