{% extends 'host/base.html' %}

{% block title %} Transients {% endblock %}

{% block body %}

{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}

{% load bootstrap4 %}

<div class="container">

<div class="p-5 text-left bg-light">
  <h1 class="mb-3">Upload Transients</h1>
  <h4 class="mb-3">Upload custom transients by name or RA/Dec</h4>
</div>

{% if errors|length %}
  <p><font color="#ff0000">There were errors:</font></p>
  {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
{% endif %}

{% if uploaded_transient_names|length %}
  <p>Successfully uploaded the following transients:</p>
  {% for transient_name in uploaded_transient_names %}
    <p>{{ transient_name }}</p>
    {% endfor %}
{% endif %}


<form class="form", method="POST">
    {% csrf_token %}
    <div class="input-group mb-10">
      <div style='margin-bottom:0em'>
        <div class="input-group-text" >
          {{ form.tns_names | as_crispy_field }}
        </div>
        <div class="form-check" >
          {{ form.reprocess | as_crispy_field }}
        </div>
        <div class="input-group-text" >
          {{ form.full_info | as_crispy_field }}
        </div>
      </div>
      <div class="input-group">
        <button type="submit", class="btn btn-outline-success" type="button">Submit</button>
     </div>
  </div>
</form>

</div>
{% endblock %}
