{% extends 'host/base.html' %}

{% block title %} Transients {% endblock %}

{% block body %}

{% load crispy_forms_tags %}

<h2>Transients</h2>

<form class="form", method="POST">
    {% csrf_token %}
    <div class="input-group mb-10">
      {{ form.name | as_crispy_field }}
    <div class="input-group-append">
    <button type="submit", class="btn btn-outline-success" type="button">Search <i class="bi bi-search"></i></button>
     </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Transient</th>
      <th scope="col">Prefix</th>
      <th scope="col">Right Ascension</th>
      <th scope="col">Declination</th>
      <th scope="col">Discovery Date</th>
      <th scope="col">Host Match</th>
        <th scope="col">Cutout Download</th>
      <th scope="col">Results</th>
    </tr>
  </thead>
  <tbody>
    {% for transient in transients %}
    <tr>
      <td>{{transient.name}}</td>
      <td>{{transient.tns_prefix}}</td>
      <td>{{transient.ra}}</td>
      <td>{{transient.dec}}</td>
      <td>{{transient.public_timestamp}}</td>
    <td><a class="nav-link" href="{{transient.name}}/">{{transient.name}}</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}